{% extends "main.html" %}
{% block content %}

<div>
	<h3>Cессия на носу</h3>
	<h4>Как правильно сдать экзамены</h4>
<p id="indent">
&nbsp;&nbsp;&nbsp;Июнь - время экзаменов. О том, как избежать нервного напряжения, стресса и лучше запомнить нужную информацию в период сдачи экзаменов, рассказывает психолог-консультант Высшей школы психологии при московском Институте психологии РАН Наталья Владимировна ЯРОШУК. </p>
<h4>&nbsp;Кафедра сегодня</h4>
<p id="indent">
&nbsp;&nbsp;&nbsp;Реакция на стресс может быть разная. У одних стресс активизирует память. В этом случае, при условии, что человек подготовлен к экзамену, нервное напряжение спадает, когда он получает билет, и информация "выплывает" наружу. Других стресс вводит в состояние "ступора". Человек все знает, смотрит на билет, а видит чистый лист. Он ничего не может вспомнить. В этих случаях избежать сильных нервных перегрузок поможет только работа над собой. 
</p>
<p id="indent">
&nbsp;&nbsp;&nbsp;Наша жизнь складывается так, что экзамены мы сдаем не только в школе и институте. Для кого-то экзаменом является поступление на работу, общение с начальником. Некоторые получают второе, а то и третье высшее образование. Надо учесть, что для этих людей учебная деятельность не основная. Помимо обучения есть еще семья, работа. Голова "забита" чем угодно, только не учебой. К тому же с возрастом мыслительные процессы тормозятся, ухудшается память. 
</p>

<p id="indent">
&nbsp;&nbsp;&nbsp;Если вы не хотите нервничать перед сдачей экзаменов, самый лучший способ - готовиться к ним заранее, ежедневно повторяя пройденный материал. Если такой возможности нет, и сама подготовка превращается в пытку, то поменяйте свои привычки. Вы привыкли заниматься сидя за столом? Попробуйте, читая книгу или учебник, пройтись по комнате. Должно стать легче. 
</p>

<p id="indent">
&nbsp;&nbsp;&nbsp;В усвоении материала могут помочь некоторые приемы. В первую очередь нужно определить канал, через который вы наилучшим образом усваиваете информацию. Если вы воспринимаете все на слух, ваш канал аудиальный. Прием такой: записывайте свою речь на диктофон, а затем прослушивайте. Для вас это лучший способ запоминания. Ваш канал визуальный, если вы воспринимаете видимую информацию. Прием: при чтении текста представляйте образы к каждой фразе, предложению. Потом эти образы помогут восстановить весь текст. Еще можно переписать нужную информацию удобными блоками, составить схемы, нарисовать картинки. Можно воспользоваться правилом "краев". Обычно в учебниках вся нужная информация содержится в начале и конце, например, абзаца. Вот ее и старайтесь запомнить, не "забивая" голову серединным "мусором". 
</p>

<p id="indent">
&nbsp;&nbsp;&nbsp;К кинестетикам относятся те, кто воспринимает информацию движения через чувство, ощущение. Прием: вспоминаем свое расположение в пространстве, как мы сидели, стояли во время лекции, семинара. Некоторым женщинам в запоминании поможет "развешивание слов на вешалках". Прием: к окружающему пространству, предметам "привязываем" образы. Например, эта комната - война такого-то года, а кухня - сражение при такой-то реке. Или варим борщ с революцией. Морковка - восставшие слои общества, капуста - армия, кастрюля - место революции. 
</p>

<p id="indent">
&nbsp;&nbsp;&nbsp;Нужный материал, пусть только его основную часть, вы выучили, а все равно перед экзаменом нервничаете. Давайте работать над собой дальше. Перед экзаменом можно составить список: что знаю, что не знаю, что еще успею выучить, что не успею. Потом подсчитываем результаты в процентном соотношении. Например, 80 процентов знаю, 20 - не знаю. Осознаем, что большую часть материала мы знаем и немного успокаиваемся. Но не стоит забывать, что экзамен - это лотерея. 
</p>

<p id="indent">
&nbsp;&nbsp;&nbsp;Далее стоит позаботиться о поведении на самом экзамене. Когда человек неспокоен, нервничает, у него нарушается координация движений, они повторяются. Например, женщина может постоянно теребить подол юбки или носовой платок, трогать мочку уха. Экзаменатор это сразу видит, и это не улучшает ваше положение. 
</p>

<p id="indent">
&nbsp;&nbsp;&nbsp;Обращайте внимание на поведение отличников, уверенных в себе. На их движения, на то, как они сидят во время ответа. Дома покопируйте их перед зеркалом. Попробуйте держаться уверенно. Если с некоторыми реакциями справиться не удается, попробуйте воспользоваться ими по-другому. Превратите недостатки в достоинства. Например, если вам необходимо что-то крутить в руках, возьмите с собой на экзамен дорогой, красивый носовой платочек. Перебираемый в ваших руках - особенно, если в ночь перед экзаменом вы не сгрызли ногти, а сделали красивый маникюр, - платочек будет смотреться очень мило. И поможет сосредоточиться, успокоиться. 
</p>

<p id="indent">
&nbsp;&nbsp;&nbsp;Все вроде в порядке, но вы боитесь самого экзаменатора. И здесь есть секреты самоуспокоения. Правда, лучше воспользоваться ими в процессе обучения. В период сдачи экзаменов может быть поздно. 
</p>

<p id="indent">
&nbsp;&nbsp;&nbsp;Например, постарайтесь найти в преподавателе что-то близкое вам, встать с ним на одну ступеньку. Например, вы увидели у него фотографию ребенка. Он - отец! У него семья. Вам это близко. Или она пришла с утра с синяками под глазами. Она не спала всю ночь или плакала? Мирские проблемы ей не чужды. Теперь вам не страшен ни экзамен, ни экзаменатор. Вы играете роль успешного студента. Но как мы говорили, самый лучший выход для успешного обучения и экономии нервных клеток - готовиться к экзаменам заранее, а не за одну ночь. 
</p>
</div>
{% endblock %}