{% extends "schedule.html" %}
{% block content %}

<h3><b>ИМ-29031/h3></b>
<h3><b>---------</h3></b>
<h4><b>Понедельник</h4></b>
<table id='tab1' cellpadding="1" cellspacing="1" border="1">
<thead>

<tr align=left><th>&nbsp;Время</th><th>&nbsp;Предмет</th><th>&nbsp;Аудитория</th><th>&nbsp;Преподаватель</th></tr>
</thead>
<tbody>
<tr><td>8:30 - 10:00</td><td> --- </td><td> --- </td><td> --- </td></tr>
<tr><td>10:15 - 11:45</td><td>--- </td><td> --- </td><td> --- </td></tr>
<tr><td>12:00 - 13:30</td><td>--- </td><td> --- </td><td> --- </td></tr>
<tr><td>14:15 - 15:45</td><td>--- </td><td> --- </td><td> --- </td></tr>
<tr><td>16:00 - 17:30</td><td>--- </td><td> --- </td><td> --- </td></tr>
<tr><td>17:40 - 19:05</td><td> --- </td><td> --- </td><td> --- </td></tr>
<tr><td>19:15 - 20:40</td><td> --- </td><td> --- </td><td> --- </td></tr>
</tbody>
</table>

<h3><b>--------------------------</h3></b>
<h4><b>Вторник</h4></b>
<table id='tab2' cellpadding="1" cellspacing="1" border="1">
<thead>

<tr align=left><th>&nbsp;Время</th><th>&nbsp;Предмет</th><th>&nbsp;Аудитория</th><th>&nbsp;Преподаватель</th></tr>
</thead>
<tbody>
<tr><td>8:30 - 10:00</td><td> Физическая культура (практика) </td><td> --- </td><td> --- </td></tr>
<tr><td>10:15 - 11:45</td><td>Социология (лекция)</td><td>Ф-401</td><td>Кадырова Г.Р.</td></tr>
<tr><td>12:00 - 13:30</td><td>Прикладные задачи теории вероятности (лекция)</td><td>СП-301/td><td>Бучацкая Н.В.</td></tr>
<tr><td>14:15 - 15:45</td><td>Дифференциальные и разностные уравнения(практика)</td><td>2СК/3</td><td>Филимонов М.Ю.</td></tr>
<tr><td>16:00 - 17:30</td><td>--- </td><td> --- </td><td> --- </td></tr>
<tr><td>17:40 - 19:05</td><td> --- </td><td> --- </td><td> --- </td></tr>
<tr><td>19:15 - 20:40</td><td> --- </td><td> --- </td><td> --- </td></tr>
</tbody>
</table>

<h3><b>--------------------------</h3></b>
<h4><b>Среда</h4></b>
<table id='tab3' cellpadding="1" cellspacing="1" border="1">
<thead>

<tr align=left><th>&nbsp;Время</th><th>&nbsp;Предмет</th><th>&nbsp;Аудитория</th><th>&nbsp;Преподаватель</th></tr>
</thead>
<tbody>
<tr><td>8:30 - 10:00</td><td> Практикум на ЭВМ (л.р)</td><td> Т-506 </td><td> Бельков С.А. </td></tr>
<tr><td>10:15 - 11:45</td><td>Социология (семинар)</td><td>2СК/3</td><td>Кыдырова Г.Р.</td></tr>
<tr><td>12:00 - 13:30</td><td>--- </td><td> --- </td><td> --- </td></tr>
<tr><td>14:15 - 15:45</td><td>--- </td><td> --- </td><td> --- </td></tr>
<tr><td>16:00 - 17:30</td><td>--- </td><td> --- </td><td> --- </td></tr>
<tr><td>17:40 - 19:05</td><td> --- </td><td> --- </td><td> --- </td></tr>
<tr><td>19:15 - 20:40</td><td> --- </td><td> --- </td><td> --- </td></tr>
</tbody>
</table>

<h3><b>--------------------------</h3></b>
<h4><b>Четверг</h4></b>
<table id='tab4' cellpadding="1" cellspacing="1" border="1">
<thead>

<tr align=left><th>&nbsp;Время</th><th>&nbsp;Предмет</th><th>&nbsp;Аудитория</th><th>&nbsp;Преподаватель</th></tr>
</thead>
<tbody>
<tr><td>8:30 - 10:00</td><td> --- </td><td> --- </td><td> --- </td></tr>
<tr><td>10:15 - 11:45</td><td>Основы дискретной математики (лекция)</td><td>2СК/1</td><td>Расин О.В.</td></tr>
<tr><td>12:00 - 13:30</td><td>Основы дискретной математики (практика)</td><td>2СК/4</td><td>Расин О.В.</td></tr>
<tr><td>14:15 - 15:45</td><td> Дифференциальные и разностные уравнения </td><td> Т-514</td><td> Филимонов М.Ю. </td></tr>
<tr><td>16:00 - 17:30</td><td> Операционные системы (лекция)  </td><td> Т-514 </td><td> Мокрушин А.А. </td></tr>
<tr><td>17:40 - 19:05</td><td> Прикладные задачи теории вероятностей (л.р.) </td><td> Т-506</td><td>  Выходец Е.В. </td></tr>
<tr><td>19:15 - 20:40</td><td> --- </td><td> --- </td><td> --- </td></tr>
</tbody>
</table>

<h3><b>--------------------------</h3></b>
<h4><b>Пятница</h4></b>
<table id='tab5' cellpadding="1" cellspacing="1" border="1">
<thead>

<tr align=left><th>&nbsp;Время</th><th>&nbsp;Предмет</th><th>&nbsp;Аудитория</th><th>&nbsp;Преподаватель</th></tr>
</thead>
<tbody>
<tr><td>8:30 - 10:00</td><td> Теория конечных графов и ее приложения </td><td> СП-301 </td><td> Гаврилюк А.Л. </td></tr>
<tr><td>10:15 - 11:45</td><td>Теория конечных графов и ее приложения </td><td> СП-301 </td><td> Гаврилюк А.Л. </td></tr>
<tr><td>12:00 - 13:30</td><td>Операционные системы (лекция)  </td><td> Т-506 </td><td> Мокрушин А.А. </td></tr>
<tr><td>14:15 - 15:45</td><td>Язык делового общения (практика) </td><td> СП-301 </td><td> Абельская Р.Ш. </td></tr>
<tr><td>16:00 - 17:30</td><td>--- </td><td> --- </td><td> --- </td></tr>
<tr><td>17:40 - 19:05</td><td> --- </td><td> --- </td><td> --- </td></tr>
<tr><td>19:15 - 20:40</td><td> --- </td><td> --- </td><td> --- </td></tr>
</tbody>
</table>

<h3><b>--------------------------</h3></b>
<h4><b>Суббота</h4></b>
<table id='tab6' cellpadding="1" cellspacing="1" border="1">
<thead>

<tr align=left><th>&nbsp;Время</th><th>&nbsp;Предмет</th><th>&nbsp;Аудитория</th><th>&nbsp;Преподаватель</th></tr>
</thead>
<tbody>
<tr><td>8:30 - 10:00</td><td> --- </td><td> --- </td><td> --- </td></tr>
<tr><td>10:15 - 11:45</td><td>--- </td><td> --- </td><td> --- </td></tr>
<tr><td>12:00 - 13:30</td><td>Компьютерная графика (л.р.)</td><td>Т-506</td><td>Кругликов А.С.</td></tr>
<tr><td>14:15 - 15:45</td><td>--- </td><td> --- </td><td> --- </td></tr>
<tr><td>16:00 - 17:30</td><td>--- </td><td> --- </td><td> --- </td></tr>
<tr><td>17:40 - 19:05</td><td> --- </td><td> --- </td><td> --- </td></tr>
<tr><td>19:15 - 20:40</td><td> --- </td><td> --- </td><td> --- </td></tr>
</tbody>
</table>


{% endblock %}