{% extends "schedule.html" %}
{% block content %}

<h3><b>ИМ-38031</h3></b>
<h3><b>---------</h3></b>
<h4><b>Понедельник</h4></b>
<table id='tab1' cellpadding="1" cellspacing="1" border="1">
<thead>

<tr align=left><th>&nbsp;Время</th><th>&nbsp;Предмет</th><th>&nbsp;Аудитория</th><th>&nbsp;Преподаватель</th></tr>
</thead>
<tbody>
<tr><td>8:30 - 10:00</td><td> --- </td><td> --- </td><td> --- </td></tr>
<tr><td>10:15 - 11:45</td><td>--- </td><td> --- </td><td> --- </td></tr>
<tr><td>12:00 - 13:30</td><td>--- </td><td> --- </td><td> --- </td></tr>
<tr><td>14:15 - 15:45</td><td>Практикум на ЭВМ (л.р.)</td><td> Т-506 </td><td> Бельков С.А. </td></tr>
<tr><td>16:00 - 17:30</td><td>Моделирование информационных процессов (л.р.)</td><td> Р-04 </td><td> Лимановская О.В. </td></tr>
<tr><td>17:40 - 19:05</td><td>Практикум на ЭВМ (л.р.)</td><td> Т-506 </td><td> Бельков С.А. </td></tr>
<tr><td>19:15 - 20:40</td><td> --- </td><td> --- </td><td> --- </td></tr>
</tbody>
</table>

<h3><b>--------------------------</h3></b>
<h4><b>Вторник</h4></b>
<table id='tab2' cellpadding="1" cellspacing="1" border="1">
<thead>

<tr align=left><th>&nbsp;Время</th><th>&nbsp;Предмет</th><th>&nbsp;Аудитория</th><th>&nbsp;Преподаватель</th></tr>
</thead>
<tbody>
<tr><td>8:30 - 10:00</td><td> --- </td><td> --- </td><td> --- </td></tr>
<tr><td>10:15 - 11:45</td><td>Экономическая теория (лекция)</td><td>СП-301</td><td>Никифорова Г.А.</td></tr>
<tr><td>12:00 - 13:30</td><td>Информационный менеджмент(лекция)</td><td>Т-514</td><td>Вшивкова И.С.</td></tr>
<tr><td>14:15 - 15:45</td><td>--- </td><td> --- </td><td> --- </td></tr>
<tr><td>16:00 - 17:30</td><td>--- </td><td> --- </td><td> --- </td></tr>
<tr><td>17:40 - 19:05</td><td> --- </td><td> --- </td><td> --- </td></tr>
<tr><td>19:15 - 20:40</td><td> --- </td><td> --- </td><td> --- </td></tr>
</tbody>
</table>

<h3><b>--------------------------</h3></b>
<h4><b>Среда</h4></b>
<table id='tab3' cellpadding="1" cellspacing="1" border="1">
<thead>

<tr align=left><th>&nbsp;Время</th><th>&nbsp;Предмет</th><th>&nbsp;Аудитория</th><th>&nbsp;Преподаватель</th></tr>
</thead>
<tbody>
<tr><td>8:30 - 10:00</td><td> Экономическая теория (семинар)</td><td> 2СК-4 </td><td> Никифорова Г.А. </td></tr>
<tr><td>10:15 - 11:45</td><td>Физическая культура (практика)</td><td>---</td><td>---</td></tr>
<tr><td>12:00 - 13:30</td><td>--- </td><td> --- </td><td> --- </td></tr>
<tr><td>14:15 - 15:45</td><td>--- </td><td> --- </td><td> --- </td></tr>
<tr><td>16:00 - 17:30</td><td>--- </td><td> --- </td><td> --- </td></tr>
<tr><td>17:40 - 19:05</td><td> --- </td><td> --- </td><td> --- </td></tr>
<tr><td>19:15 - 20:40</td><td> --- </td><td> --- </td><td> --- </td></tr>
</tbody>
</table>

<h3><b>--------------------------</h3></b>
<h4><b>Четверг</h4></b>
<table id='tab4' cellpadding="1" cellspacing="1" border="1">
<thead>

<tr align=left><th>&nbsp;Время</th><th>&nbsp;Предмет</th><th>&nbsp;Аудитория</th><th>&nbsp;Преподаватель</th></tr>
</thead>
<tbody>
<tr><td>8:30 - 10:00</td><td> --- </td><td> --- </td><td> --- </td></tr>
<tr><td>10:15 - 11:45</td><td> --- </td><td> --- </td><td> --- </td></tr>
<tr><td>12:00 - 13:30</td><td> --- </td><td> --- </td><td> --- </td></tr>
<tr><td>14:15 - 15:45</td><td>  --- </td><td> --- </td><td> --- </td></tr>
<tr><td>16:00 - 17:30</td><td>  --- </td><td> --- </td><td> --- </td></tr>
<tr><td>17:40 - 19:05</td><td>  --- </td><td> --- </td><td> --- </td></tr>
<tr><td>19:15 - 20:40</td><td> --- </td><td> --- </td><td> --- </td></tr>
</tbody>
</table>

<h3><b>--------------------------</h3></b>
<h4><b>Пятница</h4></b>
<table id='tab5' cellpadding="1" cellspacing="1" border="1">
<thead>

<tr align=left><th>&nbsp;Время</th><th>&nbsp;Предмет</th><th>&nbsp;Аудитория</th><th>&nbsp;Преподаватель</th></tr>
</thead>
<tbody>
<tr><td>8:30 - 10:00</td><td>  --- </td><td> --- </td><td> --- </td></tr>
<tr><td>10:15 - 11:45</td><td> --- </td><td> --- </td><td> --- </td></tr>
<tr><td>12:00 - 13:30</td><td> --- </td><td> --- </td><td> --- </td></tr>
<tr><td>14:15 - 15:45</td><td>Теория автоматов и формальных языков </td><td> Т-514 </td><td> Мокрушин А.А. </td></tr>
<tr><td>16:00 - 17:30</td><td>Линейное программирование (лекция) </td><td> 2СК/1 </td><td> Стрелкова Е.В. </td></tr>
<tr><td>17:40 - 19:05</td><td>Линейное программирование (практика) </td><td> 2СК/1 </td><td> Стрелкова Е.В. </td></tr>
<tr><td>19:15 - 20:40</td><td> Информационный менеджмент (практика)</td><td> Т-514 </td><td> Шутова Ю.А. </td></tr>
</tbody>
</table>

<h3><b>--------------------------</h3></b>
<h4><b>Суббота</h4></b>
<table id='tab6' cellpadding="1" cellspacing="1" border="1">
<thead>

<tr align=left><th>&nbsp;Время</th><th>&nbsp;Предмет</th><th>&nbsp;Аудитория</th><th>&nbsp;Преподаватель</th></tr>
</thead>
<tbody>
<tr><td>8:30 - 10:00</td><td> Физическая культура(практика) </td><td> --- </td><td> --- </td></tr>
<tr><td>10:15 - 11:45</td><td>Каналы передачи данных </td><td> Т-514 </td><td> Королев Д.В. </td></tr>
<tr><td>12:00 - 13:30</td><td>Основы WEB-программирования (лекция) </td><td>Т-514</td><td>Свинцов Д.В.</td></tr>
<tr><td>14:15 - 15:45</td><td>Основы WEB-программирования (лекция) </td><td>Т-514</td><td>Васильев Л.Ю.</td></tr>
<tr><td>16:00 - 17:30</td><td>--- </td><td> --- </td><td> --- </td></tr>
<tr><td>17:40 - 19:05</td><td> --- </td><td> --- </td><td> --- </td></tr>
<tr><td>19:15 - 20:40</td><td> --- </td><td> --- </td><td> --- </td></tr>
</tbody>
</table>


{% endblock %}