{% extends "schedule.html" %}
{% block content %}

<h3><b>ИМ-47031</h3></b>
<h3><b>---------</h3></b>
<h4><b>Понедельник</h4></b>
<table id='tab1' cellpadding="1" cellspacing="1" border="1">
<thead>

<tr align=left><th>&nbsp;Время</th><th>&nbsp;Предмет</th><th>&nbsp;Аудитория</th><th>&nbsp;Преподаватель</th></tr>
</thead>
<tbody>
<tr><td>8:30 - 10:00</td><td> --- </td><td> --- </td><td> --- </td></tr>
<tr><td>10:15 - 11:45</td><td>--- </td><td> --- </td><td> --- </td></tr>
<tr><td>12:00 - 13:30</td><td>Управление проектами (лекция) </td><td> Р-015 </td><td> Нигаматуллин Р.И. </td></tr>
<tr><td>14:15 - 15:45</td><td>Управление проектами (практика) </td><td> Р-015 </td><td> Нигаматуллин Р.И. </td></tr>
<tr><td>16:00 - 17:30</td><td>Методы оптимизации и исследования операций</td><td> 2СК/1 </td><td> Попов Л.Д. </td></tr>
<tr><td>17:40 - 19:05</td><td>Компьютерные сети (лекция)</td><td> Т-514 </td><td> Ануфриев К.Б. </td></tr>
<tr><td>19:15 - 20:40</td><td>Компьютерные сети (л.р.)</td><td> Т-514 </td><td> Ануфриев К.Б. </td></tr>
</tbody>
</table>

<h3><b>--------------------------</h3></b>
<h4><b>Вторник</h4></b>
<table id='tab2' cellpadding="1" cellspacing="1" border="1">
<thead>

<tr align=left><th>&nbsp;Время</th><th>&nbsp;Предмет</th><th>&nbsp;Аудитория</th><th>&nbsp;Преподаватель</th></tr>
</thead>
<tbody>
<tr><td>8:30 - 10:00</td><td> --- </td><td> --- </td><td> --- </td></tr>
<tr><td>10:15 - 11:45</td><td>Физическая культура (практика)</td><td> --- </td><td> --- </td></tr>
<tr><td>12:00 - 13:30</td><td>Управление при дефиците информации (лекция)</td><td>Ф-417</td><td>Близорукова М.С.</td></tr>
<tr><td>14:15 - 15:45</td><td>--- </td><td> --- </td><td> --- </td></tr>
<tr><td>16:00 - 17:30</td><td>--- </td><td> --- </td><td> --- </td></tr>
<tr><td>17:40 - 19:05</td><td> --- </td><td> --- </td><td> --- </td></tr>
<tr><td>19:15 - 20:40</td><td> --- </td><td> --- </td><td> --- </td></tr>
</tbody>
</table>

<h3><b>--------------------------</h3></b>
<h4><b>Среда</h4></b>
<table id='tab3' cellpadding="1" cellspacing="1" border="1">
<thead>

<tr align=left><th>&nbsp;Время</th><th>&nbsp;Предмет</th><th>&nbsp;Аудитория</th><th>&nbsp;Преподаватель</th></tr>
</thead>
<tbody>
<tr><td>8:30 - 10:00</td><td> --- </td><td> --- </td><td> --- </td></tr>
<tr><td>10:15 - 11:45</td><td>--- </td><td> --- </td><td> --- </td></tr>
<tr><td>12:00 - 13:30</td><td>--- </td><td> --- </td><td> --- </td></tr>
<tr><td>14:15 - 15:45</td><td>Администрирование в информационных системах (л.р.) </td><td> Т-514 </td><td> Обабков И.Н. </td></tr>
<tr><td>16:00 - 17:30</td><td>Методы оптимизации и исследования операций (л.р.)</td><td> СП-301 </td><td> Попов Л.Д. </td></tr>
<tr><td>17:40 - 19:05</td><td> Программирование в NET </td><td> Т-514 </td><td> Чумаков М.А. </td></tr>
<tr><td>19:15 - 20:40</td><td> Программирование в NET </td><td> Т-514 </td><td> Чумаков М.А. </td></tr>
</tbody>
</table>

<h3><b>--------------------------</h3></b>
<h4><b>Четверг</h4></b>
<table id='tab4' cellpadding="1" cellspacing="1" border="1">
<thead>

<tr align=left><th>&nbsp;Время</th><th>&nbsp;Предмет</th><th>&nbsp;Аудитория</th><th>&nbsp;Преподаватель</th></tr>
</thead>
<tbody>
<tr><td>8:30 - 10:00</td><td> --- </td><td> --- </td><td> --- </td></tr>
<tr><td>10:15 - 11:45</td><td>Физическая культура (практика)</td><td> --- </td><td> --- </td></tr>
<tr><td>12:00 - 13:30</td><td>История науки и техники (практика)</td><td> 2СК/3 </td><td> --- </td></tr>
<tr><td>14:15 - 15:45</td><td>  --- </td><td> --- </td><td> --- </td></tr>
<tr><td>16:00 - 17:30</td><td>  --- </td><td> --- </td><td> --- </td></tr>
<tr><td>17:40 - 19:05</td><td>  --- </td><td> --- </td><td> --- </td></tr>
<tr><td>19:15 - 20:40</td><td> --- </td><td> --- </td><td> --- </td></tr>
</tbody>
</table>

<h3><b>--------------------------</h3></b>
<h4><b>Пятница</h4></b>
<table id='tab5' cellpadding="1" cellspacing="1" border="1">
<thead>

<tr align=left><th>&nbsp;Время</th><th>&nbsp;Предмет</th><th>&nbsp;Аудитория</th><th>&nbsp;Преподаватель</th></tr>
</thead>
<tbody>
<tr><td>8:30 - 10:00</td><td>  --- </td><td> --- </td><td> --- </td></tr>
<tr><td>10:15 - 11:45</td><td> --- </td><td> --- </td><td> --- </td></tr>
<tr><td>12:00 - 13:30</td><td> --- </td><td> --- </td><td> --- </td></tr>
<tr><td>14:15 - 15:45</td><td>--- </td><td> --- </td><td> --- </td></tr>
<tr><td>16:00 - 17:30</td><td>--- </td><td> --- </td><td> --- </td></tr>
<tr><td>17:40 - 19:05</td><td>--- </td><td> --- </td><td> --- </td></tr>
<tr><td>19:15 - 20:40</td><td>--- </td><td> --- </td><td> --- </td></tr>
</tbody>
</table>

<h3><b>--------------------------</h3></b>
<h4><b>Суббота</h4></b>
<table id='tab6' cellpadding="1" cellspacing="1" border="1">
<thead>

<tr align=left><th>&nbsp;Время</th><th>&nbsp;Предмет</th><th>&nbsp;Аудитория</th><th>&nbsp;Преподаватель</th></tr>
</thead>
<tbody>
<tr><td>8:30 - 10:00</td><td> Администрирование в информационных системах (лекция) </td><td> 2СК/1 </td><td> Обабков И.Н. </td></tr>
<tr><td>10:15 - 11:45</td><td>--- </td><td> --- </td><td> --- </td></tr>
<tr><td>12:00 - 13:30</td><td>--- </td><td> --- </td><td> --- </td></tr>
<tr><td>14:15 - 15:45</td><td>--- </td><td> --- </td><td> --- </td></tr>
<tr><td>16:00 - 17:30</td><td>--- </td><td> --- </td><td> --- </td></tr>
<tr><td>17:40 - 19:05</td><td> --- </td><td> --- </td><td> --- </td></tr>
<tr><td>19:15 - 20:40</td><td> --- </td><td> --- </td><td> --- </td></tr>
</tbody>
</table>


{% endblock %}